extends layout

block content
  main.max-w-5xl.h-full.mx-auto.flex.flex-col
    if user
      div
        a.font-bold.inline-flex.items-center.gap-2.bg-indigo-500.text-white.py-2.px-3.rounded-md(href="/new-message")
          i.fa.fa-plus(aria-hidden='true')
          | New message  
        p.text-lg Welcome back, #[strong= user.displayName]
    .bg-neutral-100.grow
      each message in messages
        .p-4.bg-neutral-200.flex
          h1.text-lg.text-indigo-500=message.title
          p(title=message.createdAt)=message.formattedDate



