
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/output.css')
    link(rel='icon' href="/images/favicon.png")
    link(
rel="stylesheet",
href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  )
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body(class="text-black/90 bg-neutral-50")
    .py-5.px-7.max-w-7xl.mx-auto
      block content
