
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/output.css')
    link(rel='icon' href="/images/favicon.png")
    link(
rel="stylesheet",
href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  )
    meta(name="viewport" content="width=device-width, initial-scale=1")

  include mixins/navLink.pug

  body(class="text-black/90 bg-neutral-50")
    header.z-10.sticky.top-0.px-6.py-3.flex.justify-between.flex-wrap.gap-3.bg-neutral-50.border-b.border-b-slate-200
      a(href="/") Members Only

      nav
        ul.flex.gap-4
          if !user
            +navLink('Login')(href="/login")
            +navLink('Sign Up')(href="/sign-up")
          else 
            if user.membershipStatus === 'none'
              a(href="/become-a-member") Become a Member 
            else if (user.memberStatus === 'member')
              a(href="/become-an-admin")

            .relative
              button#open-user-dropdown.flex.items-center
                img.w-7.h-7.rounded-full(src=user.pfp || '/images/default-pfp.png' alt="")
                span(class="text-[9px] text-neutral-500")
                  i.fa.fa-chevron-down.ml-2.thin-icon(aria-hidden='true')
              ul#user-dropdown.text-neutral-500.py-4.text-sm.absolute.hidden.right-0.shadow-xl.rounded.w-52.flex.flex-col.bg-neutral-50
                p.px-4.py-2 Membership Status: #[strong.capitalize.text-indigo-500=user.membershipStatus]
                a.px-4.py-2(href="/log-out" class="transition-colors duration-200 hover:text-black/90") Log out

    .py-5.px-7.max-w-7xl.mx-auto
      block content

    script(src="/scripts/index.js" type="text/javascript") 
