
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/output.css')
    link(rel='icon' href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body(class="text-black/90 bg-neutral-50")
    .py-5.px-7.max-w-7xl.mx-auto
      block content
