mixin navLink(text)
  li
    a.transition-colors.duration-200.font-bold(class=attributes.href === currentPath ? "text-indigo-500 border-b border-b-neutral-300 pb-1" : "hover:text-indigo-500")&attributes(attributes)= text 